<h1>Edit Product</h1>

<%= link_to "Back to Main Products Page", products_url %>

<p>Fill in the form below</p>

<%= form_for @product do |f| %>
<p>

  <%= f.label = :name %><br>
  <%= f.text_field = :name %>
</p>
<p>
  <%= f.label = :description %><br>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label = :price_in_cents%><br>
  <%= f.integer = :price_in_cents%>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
